* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* components */

    body {
        --white: #FFFFFF;
        --green: #5bb5a2;
        --green_light: #E8F2EE;
        --black: #1A191E;
        --grey: #F8F8F8;
        --grey-border: #e8e8e8;
    }
        
    .centralize-area {
        width: 1200px;
        margin: auto;
        display: flex;
    }

    h1 {
        font-family: "DM Sans";
        font-size: 100px;
        line-height: 110%;
        letter-spacing: -1px;
        font-weight: 400;
    }

    h2 {
        font-family: "DM Sans";
        font-size: 80px;
        line-height: 110%;
        letter-spacing: -2px;
        font-weight: 450;
    }

    h3 {
        font-family: "DM Sans";
        font-size: 64px;
        line-height: 110%;
        letter-spacing: -1px;
        font-weight: 400;
        margin-bottom: 16px;

    }

    h4 {
        font-family: "Inter";
        font-size: 20px;
        line-height: 180%;
        font-weight: 400;
    }

    h5 {
        font-family: "DM Sans";
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.5px;
        font-weight: 400;
    }

    h6 {
        font-family: "DM Sans";
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
    }

    p {
        font-family: "Inter";
        font-size: 14px;
        line-height: 170%;
    }


/* navegation menu */

    .nav {
        width: 100%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        padding: 24px 0;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
        padding: 0 20px; 
    }

/* left: logo */

    .nav-left {
        font-family: "DM Sans";
        font-weight: bold;
        font-size: 32px;
        letter-spacing: -1px;
        color: var(--green);
    }

/* center: nav itens */

    .nav-center {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .nav-itens {
        display: flex;
        list-style: none;
        font-size: 16px;
        line-height: 170%;
    }

    .nav-itens a {
        font-family: "Inter";
        text-decoration: none;
        color: var(--black);
        padding: 12px 8px 8px 8px;
    }

/* right: client area */

    .nav-right {
        display: flex;
        gap: 32px;
    }

    .button-login, .button-open-account {
        font-family: "DM Sans";
        font-size: 15px;
    }

    .button-login {
        color: var(--green);
        background-color: var(--white);
        border: none;
    }

    .button-open-account {
        color: var(--white);
        background-color: var(--green);
        border: none;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        padding: 12px 16px ;
        cursor: pointer;
    }

/* hover links */

    nav .nav-center li a:hover {
        background-color: var(--grey);
        border-radius: 4px;
        size: 100%;
    }

    nav .nav-right .button-open-account:hover {
        background-color:#438677;
    }

/* section - start here */ 

    .hero {
        display: flex;
        justify-content: center;
        gap: 200px;
        padding: 128px 0px;
    }

    .grid-start {
     max-width: 600px;
     justify-content: flex-start;
    }

    .grid-start p {
        font-size: 24px;
        line-height: 170%;
        padding-bottom: 32px;
        padding-top: 16px;
    }

    .checklist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 80px;
        max-width: 489px;
        padding-left: 0px;
        margin-bottom: 64px;
    }

    .checkmark-list {
        display: flex;
        height: 32px;
        width: 225px;
        gap:16px;
        padding-left: 0px;
    }

    .checkmark-list img {
        height: 24px;
        width: 24px;
    }

    .checkmark-list p {
        font-size: 18px;
        padding: 0;
    }

    .cards {
        width: 400px;
        height: auto;
        justify-content: flex-end;
    }

/* section - start here - buttons */

    .hero-buttons {
        display: flex;

    }

    .hero-button-green {
        background-color: var(--green);
        color: var(--white);
        border-radius: 6px;
        align-content: center;
        justify-content: center;
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        font-family: "DM Sans";
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 100%;
    }

    .hero-button-white {
        background-color: var(--white);
        color: var(--green);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        font-family: "DM Sans";
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 100%;
        gap:6px;
    }

    .hero-button-white img {
    line-height: 100%;
    }

/* section - section - start here - hover */

    .hero-button-white:hover {
        background-color: var(--grey);
        border-radius: 4px;
        size: 100%;
    }

    .hero-button-green:hover {
        background-color:#438677;
    }

/* section - features */

    .features {
        display: flex;
        padding: 160px 0px;
        justify-content: center;
        gap: 220px;
    }

    .features-left h2 {
        margin-bottom: 64px;
    }

    .info-cards-grid {
        display: flex;
        gap: 32px;
        margin-bottom: 32px;
    }

    .info-card {
        width: 284px;
        height: 264px;
        background-color: var(--white);
        border: 2px solid;
        border-color: var(--grey-border);
        border-radius: 16px;
        padding: 32px;
    }

    .info-card h5 {
        margin-bottom: 8px;
    }

    .inter-16px {
        font-size: 16px;
    }

    .info-card img {
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
    }

    .features-right {
        width: 380px;
        height: 800px ;
    }

/* section - transactions */

    .transactions {
        display: flex;
        background-color: var(--green_light);
        width: 100%;
        height: 636px;
        padding: 128px 0px;
        justify-content: center;
        overflow: hidden;
        gap:172px;

    }

    .transactions-left {
        width: 528px;
    }

    .transactions-left p {
        font-family: "Inter";
        font-size: 20px;
        line-height: 180%;
    }

    .trans-box {
        margin-top: 32px;
    }

    .trans-list {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 12px;
    }

    .trans-list p {
        font-family: "Inter";
        font-size: 18px;
        line-height: 180%;
    }

    .transactions-right {
        position: relative;
        top: -40px;
        width: 400px;
        margin-right: 100px;
    }

    .trans-pay {
        display: flex;
        width: 400px;
        height: 83px;
        background-color: var(--white);
        border-radius: 10px;
        align-items: center;
        padding: 16px 24px 16px 24px;
        margin-bottom: 16px;
    }

    .apple-logo {
        height: 50px;
        width: 50px;
        margin-right: 24px;
    }

    .trans-text {
        width: 222px;
        flex:1
    }

    .trans-text-grey {
        color: var(--black);
        opacity: 50%;
        font-size: 16px;
        line-height: 160%;
    }

/* section - savings */

    .savings {
        justify-content: center;
        display: flex;
    }

    .savings-box {
        width: 1200px;
    }

    .savings-container {
        display:flex;
        width: 1200px;
        padding-top: 160px;
        justify-content: center;
        align-content: center;
        gap:475px;
    }

    .savings-text-container {
        width: 600px;
    }

    .savings-left {
        align-content: flex-end;
    }

    .button-all-features {
        color: var(--green);
        background-color: var(--white);
        border: none;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .button-all-features h6 {
        line-height: 100%;
    }

/* color-boxes */

    .grid-expenses {
        width: 1200px;
        margin-top: 64px;
        display: flex;
        gap: 33px;
    }

    .grid-color-box {
        align-items: left;
    }

    .grid-color-box p {
        color: #1A191E;
        opacity: 50%;
    }

    .color-box-1 {
        width: 214px;
        height: 214px;
        border-radius: 16px;
        background-color: #E8F2EE;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .laptop {
        height: 64px;
        width: 64px;
    }

    .color-box-2 {
        width: 214px;
        height: 214px;
        border-radius: 16px;
        background-color: #F1DFDF;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .bike {
        height: 72px;
        width: 72px;
    }

    .color-box-3 {
        width: 214px;
        height: 214px;
        border-radius: 16px;
        background-color: #DFE1F1;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .plane {
        height: 56px;
        width: 56px;
    }

    .color-box-4 {
        width: 214px;
        height: 214px;
        border-radius: 16px;
        background-color: #DFEBF1;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .camera {
        height: 54px;
        width: 54px;
    }

    .color-box-5 {
        width: 214px;
        height: 214px;
        border-radius: 16px;
        background-color: #F8F8F8;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .plus {
        height: 40px;
        width: 40px;
    }

/* section - notifications */

    .notifications {
        display: flex;
        margin-top: 160px;
        justify-content: center;
        align-content: center;
        gap: 162.6px;
    }

    .notifications-left {
        width: 538.65px;
        justify-content: flex-start;
    }

    .notifications-left h3 {
        margin-top: 8px;
    }

    .notifications-left p {
        font-size: 18px;
    }

    .not-check-box {
        margin-top: 32px;
    }

    .not-checklist {
        display: flex;
        gap: 16px;
        margin-top: 12px;
    }

    .not-button-white {
        background-color: var(--white);
        color: var(--green);
        display: inline-flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 0px;
        padding-top: 0px;
        border: none;
        cursor: pointer;
        font-family: "DM Sans";
        font-size: 18px;
        letter-spacing: 0px;
        font-weight: 400;
        line-height: 100%;
        gap:6px;
        margin-top: 48px;
    }
    .notifications-right {
      justify-content: flex-end;
    }

    .banko-card{
        display: flex;
        width: 498.75px;
        background-color:var(--grey) ;
        border-radius: 10px;
        gap:16px;
        padding: 16px;
        margin-bottom: 16px;
    }

    .banko-logo{
        size: 50px;
    }

   .banko-txt {
        font-family: "DM Sans";
        font-size: 19.95px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 100%;
   }

   .banko-transaction {
        font-size: 16px;
        line-height: 160%;
        margin-top: 4px;
   }

/* section - tools */
   .tools {
        padding: 160px 0px;
        justify-content: center;
   }

   .tools-box {
        display: initial;
        max-width: 1200px;
   }

   .logos {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
   }

   .logos-top {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
   }

   .logos-bottom {
        display: flex;
        gap: 16px;
        margin-bottom: 64px;
        max-width: 1200px;
   }

   .logo-item {
        height: 60px;
        background-color: var(--grey);
        padding: 16px;
        border-radius: 10px;
   }

   .tools-bottom {
        display:flex;
        gap:186px;
        justify-content: center;
   }
   
   .tools-left {
        width: 538.65px;
        justify-content: flex-start;
    }

    .tools-right {
        align-content: flex-end;
    }

    .tools-check-box {
        margin-top: 32px;
        max-width: 345px;
        margin-right: 153.5px;
    }

    .tools-checklist {
        display: flex;
        gap: 16px;
        margin-top: 12px;
        align-items: center;
    }

    .tools-checkmark-icon {
        width: 40px;
    }

    .tools-text-inter-18px {
        font-family: "Inter";
        font-size: 18px;
    }

/* section - cards */

    .sec-cards {
        justify-content: center;   
    }
    
    .cards-box {
        text-align: center;
        
    }

    .cards-text-box {
        margin-top: 160px;
        margin-bottom: 56px;
        align-items: center;
        justify-content: center;
    }

    .cards-text-box h4 {
        margin-top: 16px;
    }

    .cards-stack {
        size: 500px ;
    }

    .cards-buttons {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-top: 56px;
    }

    .cards-button-green {
        background-color: var(--green);
        color: var(--white);
        border-radius: 6px;
        align-content: center;
        justify-content: center;
        padding: 16px 24px;
        border: none;
        cursor: pointer;
        font-family: "DM Sans";
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 100%;
    }

    .cards-button-white {
        background-color: var(--white);
        color: var(--black);
        align-items: center;
        justify-content: center;
        padding: 16px 24px;
        border: 2px solid var(--grey-border);
        border-radius: 6px;
        cursor: pointer;
        font-family: "DM Sans";
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: 400;
        line-height: 100%;
    }

    .cards-button-green:hover {
        background-color:#438677;
    }

    .cards-button-white:hover {
        background-color: var(--grey);
    }

/* section - testimonials */
    .testimonials-top {
            display: flex;
            justify-content: center;
            margin-top: 160px;
            margin-bottom: 64px ;
        }

    .testimonials-box-left {
        width: 829px;
    }

    .test-margin {
        margin-bottom: 16px;
    }

    .testimonials-box-right {
        align-content: flex-end;
        width: 355px;
    }

    .box-itens {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }

    .rated.icon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }

    .test-text {
        font-family: "Inter";
        font-size: 18px;
        line-height: 180%;
        height: 32px;
    }

        .txt-green-color {
            color: var(--green);
            margin-right: 5px;
        }

        /* testimonial - cards */
        
        .testimonials-bottom {
            display: flex;
            justify-content: center;
            gap: 32px;
        }

        .test-cards {
            width: 378.67px;
            padding: 32px;
            border: 2px solid var(--grey-border);
            border-radius: 10px;
            margin-bottom: 32px ;
        }

        .rating-title {
            font-family: "DM Sans";
            font-size: 28px;
            line-height: 120%;
            letter-spacing: -0.5px;
            margin-top: 8px;
            margin-bottom: 16px;
        }

        .rating-text {
            font-family: "Inter";
            font-size: 16px;
            line-height: 160%;
            font-weight: 400;
            margin-bottom: 24px;
        }

        .position {
            font-family: "Inter";
            font-size: 14px;
        
            color: var(--black);
            opacity: 50%;
        }

/* section - green */
    .section-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
    }

    .green {
        display: flex;
        background-color: var(--green);
        border-radius: 20px;
        width: 1200px;
        height: 610px;
        padding: 96px 76px;
        padding-bottom: 0px;
        gap:138px

    }

    .green-left {
        width: 524px;
    }

    .h3-text-white {
        color: white;
    }

    .text-white {
        color: white;
        font-family: "Inter";
        font-size: 18px;
        line-height: 180%;
    }

    .green-check-box{
        display: flex;
        margin-top: 32px;
        gap: 64px;
    }

    .green-checklist {
        display: flex;
        gap:16px;
        margin-bottom: 16px;
        align-items: center;
    }

    .check-text-white {
        font-family: "Inter";
        font-size: 16px;
        line-height: 160%;
        font-weight: 300;
        color: var(--white);
     }

     .app-stores {
        display: flex;
        gap: 16px;
        margin-top: 48px;
     }

     .green-right {
        position: relative;
        overflow: hidden;
     }

/* need help section */

    .need-help {
        display: flex;
        justify-content: center;
        padding: 160px 0px;
    }

    .nh-left {
        width: 600px;
    }

    .nh-left h3 {
        margin-bottom: 48px ;
    }

    .nh-contact-box {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;
    }

    .nh-contact-box p {
        color: var(--black);
        opacity: 50%;
    }

    .button-support {
        color: var(--green);
        background-color: var(--white);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
    }

    .space-8px {
        width: 8px;
    }

    .button-support h6 {
        line-height: 100%;
    }

    .nh-right {
        width: 600px;
    }

    .nh-right p {
        color: #1A191E;
        opacity: 50%;
        font-size: 16px;
        line-height: 160%;
        margin-top: 16px;
        max-width: 95%;
    }

    .nh-grid {
        display: flex;
    }

    .nh-grid h5 {
        flex: 1;
    }

    .nh-grey-line {
        color: var(--grey-border);
        border: none;
        border-top: 1px solid;
        margin-top: 32px;
        margin-bottom: 32px;

    }