* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* components */

    body {
        --white: #FFFFFF;
        --green: #5bb5a2;
        --green_light: #E8F2EE;
        --black: #1A191E;
        --grey: #F8F8F8;
        --grey-border: #e8e8e8;
    }
        
    .centralize-area {
        width: 1200px;
        margin: auto;
        display: flex;
    }

    h1 {
        font-family: "DM Sans";
        font-size: 100px;
        line-height: 110%;
        letter-spacing: -3px;
        font-weight: 500;
    }

    h2 {
        font-family: "DM Sans";
        font-size: 80px;
        line-height: 110%;
        letter-spacing: -3px;
        font-weight: 500;
    }

    h3 {
        font-family: "DM Sans";
        font-size: 64px;
        line-height: 110%;
        letter-spacing: -3px;
        font-weight: 500;
        margin-bottom: 16px;

    }

    h4 {
        font-family: "Inter";
        font-size: 20px;
        line-height: 180%;
        font-weight: 400;
    }

    h5 {
        font-family: "DM Sans";
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -1px;
    }

    h6 {
        font-family: "DM Sans";
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
    }

    p {
        font-family: "Inter";
        font-size: "24px";
        line-height: 170%;
    }


/* navegation menu */

    .nav {
        width: 100%;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        padding: 24px 0;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
        padding: 0 20px; 
    }

/* left: logo */

    .nav-left {
        font-family: "DM Sans";
        font-weight: bold;
        font-size: 32px;
        letter-spacing: -1px;
        color: var(--green);
    }

/* center: nav itens */

    .nav-center {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .nav-itens {
        display: flex;
        list-style: none;
        font-size: 16px;
        line-height: 170%;
    }

    .nav-itens a {
        font-family: "Inter";
        text-decoration: none;
        color: var(--black);
        padding: 12px 8px 8px 8px;
    }

/* right: client area */

    .nav-right {
        display: flex;
        gap: 32px;
    }

    .button-login, .button-open-account {
        font-family: "DM Sans";
        font-size: 15px;
    }

    .button-login {
        color: var(--green);
        background-color: var(--white);
        border: none;
    }

    .button-open-account {
        color: var(--white);
        background-color: var(--green);
        border: none;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        padding: 12px 16px ;
        cursor: pointer;
    }

/* hover links */

    nav .nav-center li a:hover {
        background-color: var(--grey);
        border-radius: 4px;
        size: 100%;
    }

    nav .nav-right .button-open-account:hover {
        background-color:#438677;
    }

/* section - start here */ 

.hero {
    display: flex;
    justify-content: center;
    gap: 164px;
    padding: 128px 0px;
}

.grid-start {
    max-width: 600px;
    justify-content: flex-start;
}

.grid-start p {
    font-family: "Inter";
    font-size: 24px;
    line-height: 170%;
    padding-bottom: 32px;
    padding-top: 16px;
}

.checklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 80px;
    max-width: 489px;
    padding-left: 0px;
    margin-bottom: 64px;
}

.checkmark-list {
    display: flex;
    height: 32px;
    width: 225px;
    gap:16px;
    padding-left: 0px;
}

.checkmark-list img {
    height: 24px;
    width: 24px;
}

.checkmark-list p {
    font-size: 18px;
    padding: 0;
}

.cards {
    width: 400px;
    height: auto;
    justify-content: flex-end;
}

/* buttons */

.hero-buttons {
    display: flex;

}

.hero-button-green {
    background-color: var(--green);
    color: var(--white);
    border-radius: 6px;
    align-content: center;
    justify-content: center;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    font-family: "DM Sans";
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 100%;
}

.hero-button-white {
    background-color: var(--white);
    color: var(--green);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    font-family: "DM Sans";
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 100%;
    gap:6px;
}

.hero-button-white img {
line-height: 100%;
}

/* section - hero - hover */
.hero-button-white:hover {
    background-color: var(--grey);
    border-radius: 4px;
    size: 100%;
}

.hero-button-green:hover {
    background-color:#438677;
}

/* section - features */
.features {
    display: flex;
    padding: 160px 0px;
    justify-content: center;
    gap: 180px;
}

.features-left h2 {
    margin-bottom: 64px;
}

.info-cards-grid {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.info-card {
    width: 284px;
    height: 264px;
    background-color: var(--white);
    border: 2px solid;
    border-color: var(--grey-border);
    border-radius: 16px;
    padding: 32px;
}

.info-card h5 {
    margin-bottom: 8px;
}


.info-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
}

.features-right {
    width: 380px;
    height: 800px ;
}

/* section - transactions */
.transactions {
    display: flex;
    background-color: var(--green_light);
    width: 100%;
    height: 636px;
    padding: 128px 91px 128px 91px;
    justify-content: center;
    margin-top: 0px;
    overflow: hidden ;
}

.transactions-left {
    max-width: 560px;
}

.transactions-left p {
    font-family: "Inter";
    font-size: 20px;
    line-height: 180%;
}

.trans-box {
    margin-top: 32px;
}

.trans-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.trans-list p {
    font-family: "Inter";
    font-size: 18px;
    line-height: 180%;
}

.transactions-right {
    position: relative;
    top: -40px;
    flex-basis: 80%;
}

.trans-pay {
    display: flex;
    width: 400px;
    height: 83px;
    background-color: var(--white);
    border-radius: 10px;
    align-items: center;
    padding: 16px 24px 16px 24px;
    margin-bottom: 16px;
    margin-left: 50px;
}

.apple-logo {
    height: 50px;
    width: 50px;
    margin-right: 24px;
}

.trans-text {
    width: 222px;
    flex:1
}

.trans-text-grey {
    color: var(--black);
    opacity: 50%;
    font-size: 16px;
    line-height: 160%;
}

/* section - savings */
.savings {
  
}

.savings-container {
    display:flex;
    width: 1200px;
    padding-top: 160px;
justify-content: center;
    align-content: center;
}

.savings-text-container {
    width: 600px;
}

.savings-left {
    align-content: flex-end;
   margin-left: 400px;

}

.button-all-features {
    color: var(--green);
    background-color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-all-features h6 {
    line-height: 100%;
}